* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: black;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}